scikit-learn>=0.23
seaborn
matplotlib
tqdm==4.48.0
Cython==0.24
fbprophet==0.1.post1
numpy
pandas
pystan
python-dateutil
pytz
six
plotly
hyperopt
statsmodels
xlrd      
mlflow>=1.23.1     
joblib
mlflow
pyyaml
pytest
awscli
pytest-dependency
pre-commit
boto3
s3fs
dvc


