cikit-learn>=0.23
seaborn
matplotlib
tqdm
Cython
numpy
pandas
pystan
python-dateutil
pytz
six
plotly
hyperopt
statsmodels
xlrd      
joblib
mlflow
pyyaml
pytest
awscli
pytest-dependency
pre-commit
boto3
s3fs
dvc


